.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 40%;
}

.containerButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    width: 40%;
}

.list {
    list-style: circle inside;
}

.item {
    color: #D98324;
}

.title {
    font-size: 30px;
}

.text {
    color: var(--light-gray);
}
