.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

@media screen and (max-width: 1279px) {
    .container {
        flex-direction: column;
        gap: 25px;
    }
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 40%;
}

@media screen and (max-width: 1279px) {
    .containerText {
        width: 100%;
        gap: 10px;
    }
}

.containerButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    width: 40%;
}

@media screen and (max-width: 1279px) {
    .containerButton {
        width: 100%;
        display: flex;
        flex-direction: column;

        text-align: center;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .containerButton button {
        margin: 0;
    }
}

.list {
    list-style: circle inside;
}

@media screen and (max-width: 1279px) {
    .item:nth-child(1) {
        margin-top: 10px;
    }
}

.item {
    color: var(--yellow);
}

.title {
    font-size: 30px;
}

.text {
    color: var(--light-gray);
}
