.active {
    color: #fec90c;
  }
  
  .navListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .navListContainer {
      flex-direction: row;
      gap: 30px;
    }
  }