.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        gap: 10px;
    }
}


.containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .containerText {
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .containerText {
        width: 100%;
    }
}

.containerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .containerButton {
        width: 50%;
        gap: 15px;
    }
}

@media screen and (max-width: 767px) {
    .containerButton {
        width: 100%;
        gap: 0;
    }
}


.title {
    font-size: 30px;
}

.text {
    color: var(--light-gray)
}

.btn {
    display: block;
    padding: 14px 40px;
  
    border: none;
    border-radius: 30px;
  
    outline: none;
    background-color: var(--yellow);
  
    cursor: pointer;
    transition: border var(--transition-delay) var(--transition),
      background-color var(--transition-delay) var(--transition),
      color var(--transition-delay) var(--transition);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 10px auto;
  }
  .btn:hover,
  .btn:focus {
    border: none;
    background-color: var(--hover-green);
    color: var(--dark);
  }

  .link {
    color: var(--dark)
  }

  .link {
    color: var(--dark)
  }

  .link:hover,
  .link:focus {
    color: var(--dark)
  }