.list {
    width: 85%;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.item {
    width: 50%;
    position: relative;
}
.item:hover .text {
  font-size: 50px;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
}

.text {
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.6s;
  font-size: 40px;
  color: #fafafa;
}

@media screen and (max-width: 1279px) {
  .list {
    width: 100%;
    flex-direction: column;
  }

  .item {
    width: 100%;
  }

  .text {
    background: rgba(0,0,0,.1);
    opacity: 1;
  }

  .img {
    height: 100%;
  }
}

.text:hover {
  opacity: 1;
}

.overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
}

.link:hover {
  opacity: 1;
}